@import url('https://googleapis.com'); 
:root {
    --color-siteblue: #00ddff;
    --font-main: 'Inter', sans-serif;
}
html {
    font-size: 16px;
}
body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 20px;
       position: relative;
    z-index: 2;  
}

.wrapper {
    max-width: 1079px;
    margin: 0 auto;
   
}

.header {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;    
}



.menu {
            display: flex;
            gap: 15px;  
}
header nav.menu {
            display: flex;
            
}

header nav.menu a {
         display: flex;
         padding: 6px 12px;
         border-radius: 4px;
        text-decoration: none;
        text-transform: uppercase;
        color: #000000;
        font-size: 14px;
        font-weight: 500;

}

header nav.menu a:hover {
            background-color: #00DDFF;
            
} 

header nav.menu a:active {
            background-color: #000000;
            color: #ffffff;
}

header nav.menu a.selected {
       background-color: #00DDFF;
}

header nav.menu a.selected:hover {
            background-color: #00DDFF;
            
}

header nav.menu a.selected:active {
            background-color: #000000;
            color: #ffffff;
 }


main {
    flex-grow: 1;
    gap: 3rem; 
 
}

.column2, .column3 {
    display: flex;
    flex-wrap: nowrap; 
    flex-grow: 1;
    
}

aside {
    width: 300px;   
    background-color: #4CAF50;
}

.column3 aside:last-child {
   background-color: #f5836e;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #000;
    color: #fff;
    padding: 41px 20px 24px;
    gap: 83px;
}

footer h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8125rem;
    margin: 0;
}

.footerTopLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerMenu {
    display: flex;
    justify-content: space-between;
    gap: 99px;
}
.footerMenu_column {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
}
.footerMenu_column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footerMenu_column ul li {
    margin: 0;
    padding: 0;
    font-size: 11px;
    margin-bottom: 17px;
}
.footerMenu_column ul li a {
    color: #c4d656;
}

.footerBottomLine {
    color: #d9d9d9;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}


.hero {
    top:-60px;
    position: relative;
    z-index: 1;
    background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1) 100%),
    linear-gradient(to bottom, rgba(0, 76, 100, 0.2), rgba(0, 76, 100, 0.2)),
    url("/src/assets/hero-background.jpg") no-repeat;
    background-size: cover;
    min-height: 400px;
    background-position: center;
    margin-bottom: 100px;

}

.hero .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    margin-top: 120px;
    margin-bottom: 0px;
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    font-style: italic;
}

.hero .wrapper p{
    margin-top: 8px;
    margin-bottom: 63px;
    font-family: Georgia;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color:white;
}

.hero .productCard {
    width: 100%;
    max-width: 880px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(0, 31, 40, 0.2);
    display: flex;
    gap: 26px;
    overflow: hidden;
    position: relative;
}
.hero .productCard::after {
    content: "КУПИТЬ";
    font-size: 113px;
    font-weight: 700;
    opacity: 50%;
    color: #f2f2f2;
    position: absolute;
    transform: rotate(-90deg);
    top: 150px;
    right: -215px;
}

.productCard .media {
    display: flex;
    gap: 16px;
}
.productCard .media .picture {
    background: linear-gradient(to right bottom, #00ddff 50%, #fff 50%);
}

.productCard .media .previewPictures {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}
.productCard .media .previewPictures .thumbNail {
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4px;
}
.productCard .media .previewPictures .thumbNail.selected {
    border-color: #00ddff;
}

.productCard .description {
    padding: 30px 70px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.productCard .description .productName {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.rating .stars svg path {
    fill: #e1e2d6;
}
.rating .stars svg.highlight path {
    fill: #c4d656;
}
.rating .stars {
    display: flex;
    gap: 4px;
}
.rating {
    display: flex;
    gap: 14px;
    color: #b3b3b3;
    align-items: center;
}

.productCard .tabs {
    display: flex;
    gap: 8px;
    border-bottom: 2px solid #f5f5f5;
    font-size: 13px;
}
.productCard .tabs .tab {
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
}
.productCard .tabs .tab a {
    text-decoration: none;
    color: #b3b3b3;
    text-transform: uppercase;
    font-weight: 500;
}
.productCard .tabs .tab.selected {
    border-bottom-color: #00ddff;
}
.productCard .tabs .tab.selected a {
    color: #000;
}

.productCard .tabContent {
    display: none;
    font-size: 13px;
    color: #363636;
    font-weight: 300;
    line-height: 19px;
}

.productCard .tabContent.selected {
    display: block;
}

.productCard .commercial {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productCard .commercial .price {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.productCard .commercial .price span {
    font-size: 15px;
    font-weight: 500;
}
.productCard .commercial button {
    display: block;
    padding: 12px;
    border-radius: 4px;
    background: #00ddff;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    font-weight: 600;
}
.productCard .seeall {
    color: #00a1ba;
    font-size: 14px;
}

.About {
    background: url("/src/assets/About-background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    display: flex;
    flex-direction:row;
    align-items:stretch;
    margin-top: 200px;
    margin-bottom: 100px;
    position: relative;
}

.Ass {
    background-color: #ffffff;
    width: 520px;
    height: 412px;
    padding: 48px 32px;
    gap: 16px;
    top: 123px;
    left:110px;
    display: flex; 
    flex-direction: column;
    align-items:center;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-color: #000;
    border: 1px;

    
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:35%;
    font-size: 113px;
    font-weight: 700;
    opacity: 50%;
    color: #f2f2f2;
    position:absolute;
    top:-100px;
    overflow: hidden;
    
}

.nameComp {
    height: 39px;
    font-family: Inter; 
    font-size: 20px;
    font-style: bold;
    align-items: center;
    font-weight: 600;

}

.mottoComp {
    height: 200px;
    font-family: Georgia; 
    font-size: 14px;
    font-style: italic;
    justify-self: center;
    font-weight: 400;
    color: #363636;
    letter-spacing: normal;
    line-height: 25px;

}

.readMore {
    height: 17px;
    width: 77px;
    font-family: Inter; 
    font-size: 14px;
    align-items: center;
    font-weight: 400;
    color: #00A1BA;
    letter-spacing: normal;
    text-decoration:underline;
    padding-bottom: 10px;
} 

.Video{
    top: 259px;
    position: absolute;   /* Абсолютное позиционирование относительно родителя */
    left: 50%;            /* Левый край блока встает ровно на 50% (центральную ось) */
    display: flex; 
    flex-direction: column;
    overflow: hidden;
}

.Team {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    position: relative;

}

.weAre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-15px);
    height: 137px;
    margin-left:330px;
    font:Inter;
    font-size: 113px;
    font-weight: 800;
    font-style: bold;
    opacity: 50%;
    color: #f2f2f2;
    position:absolute;
    top:-100px;
    z-index: 1;
}

.teamBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    margin-left: 200px;
    width: 882px;
    background-color: #ffffff; 
    overflow: hidden;
}

.arrow{
    display: flex;    
    justify-content: center;
    align-self:center;
}

.names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px; 
    background-color: #ffffff;
    z-index: 2;
}

.name1{
    display: flex;
    flex-direction: column;
    transform: translateY(-15px);
    width: 180px;
    padding: 26px 20px 22px 20px;
    /*gap:11px;*/
    align-items: center;
    margin: 0px;
    border: 1px;
    box-shadow: 0 10px 30px rgba(0, 31, 40, 0.15);
}

.name2{
    display: flex;
    flex-direction: column;
    transform: translateY(15px);
    width: 180px;
    padding: 26px 20px 22px 20px;
    /*gap:11px;*/
    align-items: center;
    margin: 0px;
    border: 1px;
    box-shadow: 0 10px 30px rgba(0, 31, 40, 0.15);
}

.name3{
    display: flex;
    flex-direction: column;
    transform: translateY(-15px);
    width: 180px;
    padding: 26px 20px 22px 20px;
    /*gap:11px;*/
    align-items: center;
    margin: 0px;
    border: 1px;
    box-shadow: 0 10px 30px rgba(0, 31, 40, 0.15);
}

.name4{
    display: flex;
    flex-direction: column;
    transform: translateY(15px);
    width: 180px;
    padding: 26px 20px 22px 20px;
    /*gap:11px;*/
    align-items: center;
    margin: 0px;
    border: 1px;
    box-shadow: 0 10px 30px rgba(0, 31, 40, 0.15);
}

.FIO {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    
}

.post{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;  
    color: #B3B3B3; 
}

.city{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;  
    text-align: center;      
}

main .name2.selected {
    background-color: #00DDFF;
}

main .post.selected {
    color: white;
}

.news{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 110px;
}

h2{
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    
}

.newsBlocks{
    display: flex;
    flex-direction: row;
    margin: 10px 10px 20px;
    gap:20px; 

   
}

.newsPrew{
    display: flex;
    flex-direction: column;
    border: 1px transparent;
    gap:10px;
    width:250px;
    border-radius: 4px;
}

.newsPrew.active{
    display: flex;
    flex-direction: column;
    border: 1px transparent;
    gap:10px;
    width:250px;
    box-shadow: 0 10px 30px rgba(0, 31, 40, 0.15);
    border-radius: 4px;
}

.imgNews{
    display: flex;
    flex-direction: column;
}

.newsTitle{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    line-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.newsText{
    display: flex;
    flex-direction: column;
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
    color: #363636;
}

.newsWhole{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    line-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: #00A1BA;
}

a {
    color: #00A1BA;
}

button.newsMore {
    display: block; 
    align-items: center;
    justify-items: center;
    width:250px;
    height: 39px;
    padding: 12px;
    border-radius: 4px;
    background: #00ddff;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    font-weight: 600;
    margin-top: 24px;
}

.textDown{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transform: translateY(-15px);
    height: 137px;
    line-height: 100%;
    font:Inter;
    font-size: 113px;
    font-weight: 800;
    opacity: 50%;
    color: #f2f2f2;
    position: relative;
    z-index: 1; 
}

